<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <title>주문자 정보</title>
</head>

<body>
    <h3>주문자 정보</h3>
    <table>
        <tbody>
            <tr>
                <th scope="row">
                    <label for="buyername">주문하시는 분</label>
                </th>
                <td colspan="2">
                    <input type="text" name="odrNm" id="buyername" value="" title="주문하시는분" maxlength="24">
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <label>휴대폰</label>
                </th>
                <td>
                    <select title="휴대폰 앞자리" name="mpNo1" id="mpNo1">
                    <option value="010">010</option>
                    <option value="011">011</option>
                    <option value="016">016</option>
                    <option value="017">017</option>
                    <option value="018">018</option>
                    <option value="019">019</option>
                </select> -
                    <input type="text" size="5" title="휴대폰 중간자리" id="mpNo2" maxlength="4"> -
                    <input type="text" size="5" title="휴대폰 끝자리" id="mpNo3" maxlength="4">
                </td>
                <td>
                    <input type="checkbox" id="sms_yn" checked="checked" value="Y">
                    <label> 배송정보 SMS 수신동의</label>
                </td>
            </tr>
            <tr>
                <th>전화번호</th>
                <td>
                    <select title="지역번호" name="telNo1" id="telNo1">
                            <option value="02">02</option>
                            <option value="031">031</option>
                            <option value="032">032</option>
                            <option value="033">033</option>
                            <option value="041">041</option>
                            <option value="042">042</option>
                            <option value="043">043</option>
                            <option value="044">044</option>
                            <option value="051">051</option>
                            <option value="052">052</option>
                            <option value="053">053</option>
                            <option value="054">054</option>
                            <option value="055">055</option>
                            <option value="061">061</option>
                            <option value="062">062</option>
                            <option value="063">063</option>
                            <option value="064">064</option>
                            <option value="070">070</option>
                            <option value="080">080</option>
                            <option value="0505">0505</option>
                            <option value="010">010</option>
                            <option value="011">011</option>
                            <option value="016">016</option>
                            <option value="017">017</option>
                            <option value="018">018</option>
                            <option value="019">019</option>
                    </select> -
                    <input type="text" size="4" title="전화번호 중간자리" name="telNo2" id="telNo2" value="" maxlength="4"> -
                    <input type="text" size="5" title="전화번호 끝자리" name="telNo3" id="telNo3" value="" maxlength="4">
                </td>
                <td>
                    휴대폰 · 일반전화 선택입력 가능
                </td>
            </tr>
            <tr>
                <th rowspan="2">주소</th>
                <td colspan="2">
                    <input type="text" size=6 title="우편번호" id="zipcode" readonly="readonly" style="background-color: rgb(240,240,240);">
                    <span><a href="#">주소 찾기</a></span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="text" size="50" title="기본주소" id="addr1" value="" readonly="readonly" maxlength="100" style="background-color: rgb(240,240,240);">
                    <input type="text" size="50" title="상세주소" id="addr2" value="" maxlength="74" placeholder="상세주소 있는경우 입력하세요">
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>