<!DOCTYPE HTML>
<html>
    <head>
        
    </head>
    <body>
         <table class="table" cellpadding=0 cellspacing=3>
        <tr>
            <th> 우편번호 </th>
            <td>
                <input type="text" class="inputtext" style="width:70px" id="zipcode" />
                <span> <input type="button" onclick="sagrakdamPost()" value="우편번호 찾기"></span> </td>
        </tr>
        <tr>
            <th> 지번주소 </th>
            <td>
                <input type="text" class="inputtext" size=30 id="jibunAddress" /> </td>
        </tr>
        <tr>
            <th rowspan="2">도로명주소</th>
            <td>
                <input type="text" class="inputtext" id="roadAddress" /> </td>
        </tr>
        <tr>
            <td>
                <input type="text" class="inputtext" style="width: 250px;" id="detailAddress" placeholder="상세주소가 있는 경우 입력하세요." /> </td>
        </tr>
    </table>
    <script>
        function sagrakdamPost(){
            window.open('http://localhost:3000/post','post',
                        'width= 300px,height=400px')
        }
        
        function responseMessage(data){
            alert(data);
        }
        </script>
    </body>
</html>